---
// The server-side code fence. We can define props here later if needed.
import "../styles/global.css";
import { Icon } from "astro-icon/components";
import profileData from "../data/profile.json";
import Header from "../components/Header.astro";

interface Props {
    title?: string;
    description?: string;
}
// We pull the defaults from JSON, but still allow individual pages to pass their own props!
const {
    title = profileData.seo.defaultTitle,
    description = profileData.seo.defaultDescription,
} = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="title" content={title} />
        <meta name="description" content={description} />
        <meta property="og:type" content="website" />
        <meta
            property="og:url"
            content="https://muhammadkurniasani-me.github.io/portfolio/"
        />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta
            property="og:image"
            content="https://dpgb1j61mlyva.cloudfront.net/og-image.webp"
        />
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:title" content="Kurnia Sani | Portfolio" />

        <title>{title}</title>
    </head>

    <body
        class="bg-slate-50 text-slate-900 font-sans antialiased max-w-3xl mx-auto px-6 py-12 flex flex-col min-h-screen"
    >
        <Header />

        <main class="grow">
            <article class="prose prose-slate lg:prose-xl dark:prose-invert">
                <slot />
            </article>
        </main>

        <footer
            class="mt-24 pb-12 border-t border-slate-200 text-sm text-slate-500 text-center"
        >
            <ul
                class="flex flex-wrap justify-center gap-x-8 gap-y-4 text-sm font-semibold text-slate-500 my-10"
            >
                {
                    profileData.socials.map((social) => {
                        // 1. Extract the base domain (e.g., "github.com") from your full URL
                        const domain = new URL(social.url).hostname;

                        return (
                            <li>
                                <a
                                    href={social.url}
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    aria-label={`Connect with me on ${social.name}`}
                                    class="group flex items-center gap-2 text-slate-600 hover:text-slate-900 transition-all"
                                >
                                    <Icon
                                        name={social.icon}
                                        class="w-5 h-5 text-slate-500 group-hover:text-slate-900 transition-colors"
                                    />
                                    {social.name}
                                </a>
                            </li>
                        );
                    })
                }
            </ul>

            <div
                class="text-xs tracking-wide text-slate-500 uppercase font-medium"
            >
                &copy; {new Date().getFullYear()} Muhammad {
                    profileData.hero.name
                } Sani. Built with Astro.
            </div>
        </footer>
    </body>
</html>
